[Unit]
Description=Node Exporter Service For Host Monitoring
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=1
ExecStartPre=-/usr/bin/docker rm -f node-exporter
ExecStartPre=/usr/bin/docker pull quay.io/prometheus/node-exporter
ExecStart=/usr/bin/docker run \
            -p 9100:9100 \
            -v "/proc:/host/proc" \
            -v "/sys:/host/sys" \
            -v "/:/rootfs" \
            --net="host" \
            --name=node-exporter \
            quay.io/prometheus/node-exporter \
            -collector.procfs /host/proc \
            -collector.sysfs /host/sys \
            -collector.filesystem.ignored-mount-points "^/(sys|proc|dev|host|etc)($|/)"
ExecStop=-/usr/bin/docker rm -f node-exporter

[Install]
WantedBy=multi-user.target